body{
    background-color:#359381; 
    
}

.container{
    
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:11.5%;
    
    
}
.signup-box {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow:0 4px 8px rgba(255, 0, 0, 0.6), 0 6px 20px rgba(0,255,200,0.5);
}

.signup-box form {
   
}
.s{
    width:50%;
    padding:10px;
    margin:15px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(255, 0, 0, 0.6), 0 6px 20px rgba(0,255,200,0.5);
    display:flex;
    justify-content:center;
    align-items:center;
}

input{
    width:90%;
    padding:10px;
    margin:15px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(255, 0, 0, 0.6), 0 6px 20px rgba(0,255,200,0.5);
}
.outer{
    display:flex;
    align-items:center;
    justify-content:center;
}
a,button {
    
    color: #000;
    border:none;
    font-size:20px;
    font-weight:bold;
    text-decoration: none;
    padding: 10px;
}
